*, *:after, *:before {
    padding: 0;
    margin: 0;
}

a {
    color: #f9a91d;
    text-decoration: none;
}

p {
    font: 400 14px "Open Sans";
}

ul {
    padding-left: 0;
}

.container-md.mx {
    max-width: 1136px;
}

/* Header */
.header {
    z-index: 100000;
    position: relative;
    top: -2px;
    left: -7px;
}

.header__upper {
    height: 100px;
    width: 100%;
    display: flex;
    padding-top: 1rem!important;
    justify-content: space-between;
}

.header__logo {
    max-height: 50px;
    width: auto;
    padding-top: 10px;
}

.header__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__func {
    font-size: 13px!important;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    padding-top: 5px;
}

.header__func .func__line{
    position: relative;
    right: 0;
}

.info__img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.header__telephone {
    display: flex;
    padding: 16px;
}

.header__hours {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    flex-direction: column;
}

.telephone {
    font-size: 21px;
    font-family: "Open Sans";
    font-weight: 600;
}

.hours__span {
    margin: 0;
    padding: 0;
    color: #adadad;
    font: 12px "Open Sans";
}

.hours__text {
    font: 12px "Open Sans";
}

.func__line {
    display: flex;
    width: 100%;
}

.func__line:first-child {
    margin-bottom: 0.25rem!important;
}

.func__img {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.func__line:last-child {
    padding-left: 35px;
}

.func__item {
    margin-left: 14px;
    font-weight: 400;
    font-size: 13px;
}

.func__text {
    font-weight: bold;
}

.header__menu {
    padding: 0 10px;
    background-color: #f9a91d;
    border-radius: 2px;
}

.header__bottom {
    width: 100%;
    margin: 0 0 16px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.nav__list li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 1px;
}

.nav__list .nav__link {
    position: relative;
    padding: 12px 14px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: 0.5s;
    white-space: nowrap;
    color: #fff;
}

.nav__list .nav__link:hover {
    background-color: #fac467;
    transition: 0.5s;
}

.nav__link.sub:hover {
    background-color: #fff;
    color: #fac467;
}

.sub-nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    text-transform: none;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    min-width: 150px;
}

.sub-nav__list.active{
    display: block;
}

.sub-nav__list li:first-child{
    padding: 10px 17px 8px;
}

.sub-nav__list li{
    padding: 0px 17px 8px;
}

.sub-nav__list .sub-nav__link{
    color: #f9a91d;
    font-weight: 500;
    font-size: 13px;
}

.nav__link {
    display: flex;
    align-items: center;
}

.arrow {
    position: relative;
    display: block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
}

.arrow:before {
    margin-left: 2px;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.arrow:after {
    margin-left: -2px;
    transform: translate(-50%,-50%) rotate(45deg);
}

.arrow:after, .arrow:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 2px;
    background-color: #fff;
    content: '';
    transition: 250ms linear all;
}

.arrow.orange:after, .arrow.orange:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 2px;
    background-color: #f9a91d;
    content: '';
    transition: 250ms linear all;
}

.sub-sub-nav__list li:first-child{
    padding:0;
    padding-left: 7px;
}

.sub-sub-nav__list li{
    padding:0;
    padding-left: 7px;
}

.sub-sub-nav__link {
    color: #555;
    font-size: 13px;
}

.sub-sub-nav__link:hover {
    color: #f9a91d;
    background-color: #e5e5e5;
    width: 150px;
}

.sub-nav{
    display: flex;
}

.sub-nav__block {
    position: relative;
    left: 80%;
    background-color: #f7fafb;
    width: 150px;
    white-space: nowrap;
}

@media(max-width: 1200px) {

    .header__upper {
        padding-top: 10px;
        margin-bottom: 5px;
    }

    .nav__list .nav__link {
        padding: 12px;
    }
    
    .header__telephone {
        padding: 0;
    }

    .func__line {
        font-size: 13px;
    }
    .func__line p{
        font-size: 13px;
    }
}

@media(max-width: 990px) {

}

@media(max-width: 770px) {

}

@media(max-width: 570px) {

}